
home-color1 = #ffffff
home-color2 = #F6F2EF

.home
    display: flex
    flex-direction: column
    align-items: center
    min-width: 100vw
    min-height: 100vh
    padding-top: 39px
    background-color: home-color2

.paper-shadow
    width: 100%
    max-width: 1093px
    min-height: 500px
    box-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0,0,0,.12)
    .paper
        display: flex
        flex-direction: column
        width: 100%
        height 100%
        max-width: 1093px
        min-height: 500px
        padding: 16px
        background-color: home-color1

.group-comp
    display: flex
    flex-direction: column
    height min-content
    width 100%
    align-items: center
    .group-title
        width: 100%
        font-family: 'Lato','Roboto', sans-serif;
        font-weight: 300
        font-size: 24px
        text-align: center
    .group-divider   
        display: flex
        border-color: rgba(0,0,0,.12)
        border-width: 1px 0 0
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        width: 100% 

.btn-group
    width: 100%
    flex-direction: column
    display: flex
    justify-content: center
    max-width: 600px
    display: flex
    justify-content: space-around
    margin: 20px 0px 20px 0px
    align-items: center

/* The buttons */
buttonA-color1 = #2AA847
buttonA-color2 = #ffffff

.buttonA
    user-select none
    cursor pointer
    border none
    color: buttonA-color2
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 97px
    height 36px
    border-radius: 4px
    background-color: buttonA-color1
    box-shadow: 
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0,0,0,.12)

.buttonA-OUTILINED
    user-select none
    cursor pointer
    border none
    color: buttonA-color1 
    border 1px solid buttonA-color1
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 97px
    height 36px
    border-radius: 4px
    background-color: buttonA-color2
 
.buttonA-TEXT
    user-select none
    cursor pointer
    border none
    color: buttonA-color1 
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 97px
    height 36px
    border-radius: 4px
    background-color: rgba(0,0,0,0)


buttonB-color1 = #6200EE
buttonB-color2 = #ffffff
.buttonB
    user-select none
    cursor pointer
    border none
    color: buttonB-color2
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 97px
    height 36px
    border-radius: 4px
    background-color: buttonB-color1
    box-shadow: 
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0,0,0,.12)

.buttonB-OUTILINED
    user-select none
    cursor pointer
    border none
    color: buttonB-color1 
    border 1px solid buttonB-color1
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 97px
    height 36px
    border-radius: 4px
    background-color: buttonB-color2
 
.buttonB-TEXT
    user-select none
    cursor pointer
    border none
    color: buttonB-color1 
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 97px
    height 36px
    border-radius: 4px
    background-color: rgba(0,0,0,0)

buttonC-color1 = #6200EE
buttonC-color2 = #ffffff
.buttonC
    user-select none
    cursor pointer
    border none
    color: buttonC-color2
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 97px
    height 36px
    border-radius: 18px
    background-color: buttonC-color1
    box-shadow: 
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0,0,0,.12)

.buttonC-OUTILINED
    user-select none
    cursor pointer
    border none
    color: buttonC-color1 
    border 1px solid buttonC-color1
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    border-radius: 18px
    width: 97px
    height 36px
    background-color: buttonC-color2
 
.buttonC-TEXT
    user-select none
    cursor pointer
    border none
    color: buttonC-color1 
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    border-radius: 18px
    width: 97px
    height 36px
    background-color: rgba(0,0,0,0)


buttonD-color1 = #6200EE
buttonD-color2 = #ffffff
.buttonD
    user-select none
    cursor pointer
    border none
    color: buttonD-color2
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    width: 36px
    height 36px
    border-radius: 18px
    background-color: buttonD-color1
    box-shadow: 
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0,0,0,.12)

.buttonD-OUTILINED
    user-select none
    cursor pointer
    border none
    color: buttonD-color1 
    border 1px solid buttonD-color1
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    border-radius: 18px
    width: 36px
    height 36px
    background-color: buttonD-color2
 
.buttonD-TEXT
    user-select none
    cursor pointer
    border none
    color: buttonD-color1 
    font-family: 'Roboto', sans-serif;
    font-weight: 500
    border-radius: 18px
    width: 36px
    height 36px
    background-color: rgba(0,0,0,0)


/* The Dialog */

modal-color1 = #ffffff
modal-color2 = #303030
modal-color3 = #666666
modal-color4 = #004EA1

.screen-modal
    width: 400px
    height 264px
    border 1px solid #979797
    .modal-container
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height 100%
        background-color: rgba(0,0,0,0.32)
        .modal-shadow
            .modal
                display: flex
                flex-direction: column
                padding: 16px
                width: 240px
                height 156px
                border-radius: 4px
                background-color: modal-color1 
                .modal-header
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px
                    font-weight: 500
                    color: modal-color2
                .modal-desc
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px
                    font-weight: 500
                    color: modal-color3
                    flex: 1
                .modal-actions
                    display: flex
                    justify-content: flex-end           

.paper-comp-shadow
    width: 300px
    min-height: 200px
    margin: 5px 0 5px 0
    box-shadow: 
    0px 2px 4px 0px rgba(0, 0, 0, 0.50), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0,0,0,.12)
    .paper-comp
        display: flex
        flex-direction: column
        width: 100%
        height 100%
        min-height: 400px
        padding: 16px
        background-color: home-color1
        .paper-title
            width: 100%
            text-align: center
            font-weight: 700
            font-size: 18px
            color: modal-color4

.sub-paper
    margin-top: -60% !important
    width: 59% !important
    